@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500, 600;
  font-style: normal;
}
.nav-bg {
background: rgba(255, 255, 255, 0.22);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11.3px);
-webkit-backdrop-filter: blur(11.3px);
border: 1px solid rgba(255, 255, 255, 0.32);
}
.nav-bg a{
    color: white;
}

.bg {
  background: linear-gradient(
    135deg,
    #ff4d6d 0%,
    #f87537 25%,
    #f9b233 50%,
    #d94efc 75%,
    #6b00ff 100%
  );
  background-attachment: fixed;
  background-size: 200% 200%;
  min-height: 100vh;
}