@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500, 600;
  font-style: normal;
}
.nav-bg {
  background: rgba(255, 255, 255, 0.22);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.3px);
  -webkit-backdrop-filter: blur(11.3px);
  border: 1px solid rgba(255, 255, 255, 0.32);
}

.bg {
  background: linear-gradient(135deg, #b68af0 0%, #c3a5e9 50%, #ffff 100%);
  background-attachment: fixed;
  min-height: 100vh;
  color: #222;
}
.effect :hover {
  background: rgba(255, 255, 255, 0.57);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: black;
}
.effect a {
  padding: 8px;
}
.btn {
  background: rgba(255, 255, 255, 0.57);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: black;
  cursor: pointer;
}
.btn:hover {
  background: rgba(207, 207, 111, 0.57);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: black;
}
.form-bg {
  background: transparent;
  backdrop-filter: blur(11.3px);
  -webkit-backdrop-filter: blur(11.3px);
  border: 2px solid rgba(255, 255, 255, 0.2);
}
.form-bg:hover {

  box-shadow: 0px 0px 30px #ffff;
  transition: all;
}
.form-bg input {
  outline: none;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}
.form-bg button {

  background: white;
  cursor: pointer;

  border-radius: 20px;



}
.form-bg a:hover{ 
  text-decoration: underline;


}


